* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.container {
 
  min-height: 100vh;
  height: auto;


  /* padding: 4rem 5rem; */
  width: 100%;
  background: linear-gradient(to top, #0b0f26, #143a7a);
  position: relative;
  /* margin: auto; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.container h1 {
  height: fit-content;
  font-size: 20vw;
  font-weight: 700;
  color: white;
  text-align: center;
  letter-spacing: 1.5rem;

  /* margin-top: 8rem; */
  /* position: absolute; */
}
.container .head {
  background-color: #143978;
  /* width: fit-content; */
  position: absolute;
  top: 10%;
  letter-spacing: 2.5rem;
  color: white;
  font-weight: 400;
  padding: 0.5rem 0.8rem;
}
.image {
  height: 130%;
  width: auto;
  z-index: 999;
  /* position: relative; */
}
.img {
  height: 100%;
  width: 40%;
  object-fit: contain;
  position: absolute;
  top: 0%;
  z-index: 999;
  left: 30%;
}
.stricker {
  display: flex;
  /* height: fit-content; */

  flex-direction: column;
  /* justify-content: right; */
  align-items: end;
  position: absolute;
  /* right: 0px; */
  right: 0;
  bottom: 5%;
  /* padding: 20px; */
  width: 40%;
  margin-right: 1rem;
  /* margin-top: 1rem; */
}
.text {
  background-color: #838383;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  gap: 4rem;
  align-items: center;
  width: 35%;
}
.arrow {
  /* margin-right: 20px; */
  font-size: 1.85rem;
  text-align: left;
}
.text span {
  font-size: 1.5rem;
  font-weight: 300;
}
.lorem {
  font-weight: 400;
  color: white;
  margin-top: 1.1rem;
  font-size: 2.5rem;
  width: 80%;
  /* padding: 0 3rem; */
  font-family: sans-serif;
  text-align: right;
  margin-right: 0.8rem;
  /* letter-spacing: -1px; */
}
.ipsum {
  font-weight: 100;
  color: white;
  margin-top: 0.25rem;
  font-size: 1rem;
  font-family: sans-serif;
  width: 60%;

  opacity: 0.8;
  text-align: right;
  margin-top: 0.8rem;
}

.wrapper {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section1 {
  display: flex;
  align-items: center;

  flex-direction: column;
}
.section1 h1 {
  font-size: 7vw;
  margin-top: 1rem;
  font-family: "Alegreya";
  color: #122f65;
}
.section1 p {
  font-size: 4vw;
  color: #222224ac;
  text-align: center;
}
.divider {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 20rem;
  padding: 0 4rem;
  color: #838383;
}
.left {
  width: 50%;
  height: 100%;
  line-height: 2rem;
  font-size: 1.3rem;
}
.right {
  width: 50%;
  height: 100%;
  line-height: 2rem;
  font-size: 1.3rem;
}
.number {
  position: absolute;
  /* left:50%; */
  left: 25%;

  top: 2%;
  color: #838383;
  opacity: 0.2;
  user-select: none;
}
.number h1 {
  font-size: 45vw;
}

.wrap {
  width: 100%;
  margin-top: 9rem;
  height: 50vh;
  position: relative;
  background: #001a4d; /* fallback */
}

/* all triangles */
.wrap div {
  position: absolute;
  width: 50%;
  height: 50%;
}

/* TOP */
.t1 {
  top: 0;
  left: 25%;
  width: 50%;
  height: 50%;
  background: linear-gradient(to bottom, #05112c, #0e2b67);
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

/* BOTTOM */
.t2 {
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 50%;
  background: linear-gradient(to top, #0e2b67, #05112c);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* LEFT */
.t3 {
  left: 0;
  top: 25%;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #05112c, #0e2b67);
  clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
}

/* RIGHT */
.t4 {
  right: 0;
  top: 25%;
  width: 50%;
  height: 50%;
  background: linear-gradient(to left, #0e2b67, #05112c);
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

/* WHITE CROSS (center X) */
.white {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      135deg,
      transparent 45%,
      white 45%,
      white 55%,
      transparent 55%
    ),
    linear-gradient(
      -135deg,
      transparent 45%,
      white 45%,
      white 55%,
      transparent 55%
    );
}
.box {
  position: relative;
  /* height: 60vh;
    width: 100vw; */
}
.image {
  position: absolute;
  height: 140%;
  /* bottom: 60%; */
  width: 100%;
  z-index: 999;
  object-fit: fill;
}
.mbappe {
  position: absolute;
  /* height: 130%; */
  z-index: 120;
  transform: translateX(-50%);
  /* top: -25%; */
  /* top: 0%;   */
  left: 50%;
  width: 42%;
  object-fit: contain;
  bottom: 0;
  top: 60%;
}
.content {
  background-color: #00000026;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(5px);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 3rem 3rem;
  color: white;

  border-radius: 0.5rem;
  top: 90%;
  bottom: 0%;
  font-size: 0.8vw;
  letter-spacing: 0.7rem;
}

.achieve {
  /* height: 100vh;
  width: 100%;
  position: relative; */
  text-align: center;
  margin-top: 5rem;
  font-size: 4vw;
  font-family: monospace;
  /* position: relative; */

  /* display: flex;
 justify-content: center;
 flex-direction: column; */
}
.chaos {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
  /* padding: 2rem 5rem; */
  /* margin-top: 5rem; */
}

.leftCol {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.item {
  display: flex;
  /* gap: 1.5rem; */
  align-items: center;
  gap: 3rem;

  /* justify-content: space-evenly; */
}

.idnum {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #122f65;
  opacity: 0.9;
  line-height: 1;
  font-style: oblique;
}

.contentText {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* width: 40%; */
  /* align-items: center */
  /* ; */
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #122f65;
  font-family: "Poppins", sans-serif;
  /* margin-bottom: 3rem; */
}

.desc {
  font-size: 1rem;
  color: #122f65b3;
  font-weight: 400;
  width: 70%;
  line-height: 1.4rem;
}

.rightCol {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerImg {
  width: 90%;
  height: 70vh;

  object-fit: contain;
}

.footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to top, #0b0f26, #143a7a);
  display: flex;
  /* justify-content: center; */
  padding: 2rem 0;
  flex-direction: column;
}

.contact h1 {
  font-size: 4vw;
  color: white;
  /* display: flex; */
  text-align: center;

  /* font-weight: 900; */
}
.icon {
  height: 2rem;
  /* width: 2rem; */
  display: flex;
  gap: 2rem;
  /* display: flex; */
  align-items: center;

  /* flex-direction: column; */
  margin-top: 1rem;
  justify-content: center;
}
.ig,
.fb,
.thread {
  height: 3rem;
  width: 3rem;
}
.message {
  /* text-align: center; */
  /* margin-top: 2rem; */
  display: flex;

  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 3rem;
  color: white;
}
.message h2 {
  text-align: center;
  font-size: 2vw;
}
.message p {
  width: 50%;
  text-align: center;
  font-size: 1.1vw;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 15vh; */
  width: 100%;
  padding: 2rem 0;

  justify-content: center;
}
.card button {
  padding: 1.2rem 2rem;
  font-size: 1vw;
  color: white;
  background-color: #143774;
  border-radius: 2rem;
  border: none;
  letter-spacing: -0.01rem;
  cursor: pointer;
}
.dot {
  display: flex;
  /* flex-direction: ; */
  /* background-color: #fff; */

  margin-top: 2rem;
  gap: 1rem;
}
.dot div {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: black;
  /* font-size: .5vw; */
  padding: 0.5vw;
  /* padding: 1rem 1rem; */

  /* margin: 1rem auto; */
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
    height: 100svh;
    width: 100%;
    text-align: center;
  }

  .container h1 {
    font-size: 28vw;
    letter-spacing: 0.3rem;
  }
  .container .head {
    font-size: 1.5vw;
    padding: 0.2rem 0.5rem;
    /* position: fixed; */
    top: 13%;

    letter-spacing: 1.8rem;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .img {
    width: 70%;
    height: 85%;
    object-fit: fill;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    position: absolute;
  }

  .stricker {
    width: 100%;
    bottom: 1%;
    z-index: 999;

    /* left: 50%; */

    /* transform: translateX(-40%); */
    /* align-items: center; */
  }

  .text {
    width: 15%;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
    border-radius: 1.8rem;
  }

  .text span {
    font-size: 1rem;
  }

  .arrow {
    font-size: 1rem;
  }

  .lorem {
    width: 35%;
    font-size: 1.2rem;
    text-align: end;
    margin: 0.8rem 0 0 0;
    /* padding: 0 1rem; */
  }

  .ipsum {
    width: 30%;
    font-size: 0.9rem;
    text-align: end;
    line-height: 1.2rem;
    /* opacity: 0.8; */
  }

  .wrapper {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .section1 {
    display: flex;
    align-items: center;

    flex-direction: column;
  }
  .section1 h1 {
    font-size: 10vw;
    margin-top: 1rem;
    font-family: "Alegreya";
    color: #122f65;
  }
  .section1 p {
    font-size: 4vw;
    color: #222224ac;
    text-align: center;
  }
  .divider {
    height: 70%;
    width: 100%;
    /* margin-top: 2rem; */
    display: flex;
    /* gap: 20rem; */
    padding: 0 4rem;
    color: #838383;
    z-index: 99;
  }
  .left {
    width: 50%;
    height: 40%;
    /* line-height: 2rem; */
    font-size: 1rem;
  }
  .right {
    width: 50%;
    height: 40%;
    /* line-height: 2rem; */
    font-size: 1rem;
  }
  .number {
    position: absolute;
    /* left:50%; */
    left: 10%;

    top: 15%;

    color: #838383;
    opacity: 0.2;
    user-select: none;
  }
  .number h1 {
    font-size: 80vw;
    font-weight: 100;
    letter-spacing: -5vw;
    /* letter-spacing: ; */
  }

  .wrap {
    width: 100%;
    /* margin-top: 9rem; */
    height: 40vh;
    position: relative;
    background: #001a4d; /* fallback */
  }

  /* all triangles */
  .wrap div {
    position: absolute;
    width: 50%;
    /* height: 50%; */
  }

  /* TOP */
  .t1 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, #05112c, #0e2b67);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }

  /* BOTTOM */
  .t2 {
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to top, #0e2b67, #05112c);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* LEFT */
  .t3 {
    left: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #05112c, #0e2b67);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  }

  /* RIGHT */
  .t4 {
    right: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to left, #0e2b67, #05112c);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }

  /* WHITE CROSS (center X) */
  .white {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      ),
      linear-gradient(
        -135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      );
  }
  .box {
    position: relative;
    /* height: 60vh;
    width: 100vw; */
  }
  .image {
    position: absolute;
    height: 115%;
    /* bottom: 60%; */
    width: 100%;
    z-index: 999;
    object-fit: fill;
  }
  .mbappe {
    position: absolute;
    /* height: 130%; */
    z-index: 120;
    /* transform: translateX(-50%); */
    /* top: -25%; */
    /* top: 0%;   */
    left: 50%;
    width: 100%;
    /* height: 120%; */

    object-fit: contain;
    bottom: 0;
    top: 60%;
  }
  .content {
    background-color: #00000026;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(4px);

    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 4rem 3rem;
    color: white;

    border-radius: 0.5rem;
    top: 85%;
    bottom: 0%;
    font-size: 3vw;
    letter-spacing: 0.7rem;
  }

  .achieve {
    /* height: 100vh;
  width: 100%;
  position: relative; */
    text-align: center;
    margin-top: 5rem;
    font-size: 7vw;
    font-family: monospace;
    /* position: relative; */

    /* display: flex;
 justify-content: center;
 flex-direction: column; */
  }
  .chaos {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;

    /* padding: 2rem 5rem; */
    /* margin-top: 5rem; */
  }

  .leftCol {
    width: 40%;
    /* position: absolute; */
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .item {
    display: flex;
    /* gap: 1.5rem; */
    align-items: center;
    gap: 3rem;

    /* justify-content: space-evenly; */
  }

  .idnum {
    font-size: 5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #122f65;
    opacity: 0.9;
    line-height: 1;
    font-style: oblique;
  }

  .contentText {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* width: 40%; */
    /* align-items: center */
    /* ; */
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #122f65;
    font-family: "Poppins", sans-serif;
    /* margin-bottom: 3rem; */
  }

  .desc {
    font-size: 1.1rem;
    color: #122f65b3;
    font-weight: 400;
    width: 100%;
    line-height: 1.4rem;
  }

  .rightCol {
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .playerImg {
    width: 100%;
    height: 85vh;

    object-fit: contain;
  }

  .footer {
    height: 70vh;
    width: 100%;
    background: linear-gradient(to top, #0b0f26, #143a7a);
    display: flex;
    /* justify-content: center; */
    padding: 2rem 0;
    margin-top: 14rem;
    flex-direction: column;
  }

  .contact h1 {
    font-size: 8vw;
    color: white;
    /* display: flex; */
    text-align: center;

    /* font-weight: 900; */
  }
  .icon {
    height: 2rem;
    /* width: 2rem; */
    display: flex;
    gap: 2rem;
    /* display: flex; */
    align-items: center;

    /* flex-direction: column; */
    margin-top: 1rem;
    justify-content: center;
  }
  .ig,
  .fb,
  .thread {
    height: 3rem;
    width: 3rem;
  }
  .message {
    /* text-align: center; */
    /* margin-top: 2rem; */
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 3rem;
    color: white;
  }
  .message h2 {
    text-align: center;
    font-size: 5vw;
  }
  .message p {
    width: 70%;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.2vw;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 15vh; */
    width: 100%;
    /* padding: .5rem 0; */

    justify-content: center;
  }
  .card button {
    padding: rem 3rem;
    font-size: 2vw;
    color: white;
    background-color: #143774;
    border-radius: 2rem;
    border: none;
    letter-spacing: -0.09rem;
    cursor: pointer;
  }
  .dot {
    display: flex;
    /* flex-direction: ; */
    /* background-color: #fff; */

    /* margin-top: 2rem; */
    gap: 1rem;
  }
  .dot div {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: black;
    /* font-size: .5vw; */
    padding: 1vw;
    /* padding: 1rem 1rem; */

    /* margin: 1rem auto; */
  }
}
@media (max-width: 600px) {
  .container {
    min-height:100svh;
    height:auto;
    /* padding: 4rem 5rem; */
    /* width: auto;
 height: auto; */
    background: linear-gradient(to top, #0b0f26, #143a7a);
    position: relative;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
  }
  .container h1 {
    height: fit-content;
    font-size: 9rem;

    font-weight: 700;
    color: white;
    /* text-align: center; */
    letter-spacing: 0.2rem;
    /* position: relative; */

    /* margin-top: 8rem; */
    /* position: absolute; */
  }
  .container .head {
    background-color: #143978;

    /* width: fit-content; */
position: absolute;
    top: 8%;
    

    letter-spacing: 0.8rem;
    /* background-color: red; */
    color: white;
    font-weight: 400;
    padding: rem 0.5rem;
  }
  .image {
    height: auto;
    width: 100%;
    z-index: 999;
    position: absolute;
    /* top: 10%; */
    /* top: 1%; */
    /* position: relative; */
  }
  .img {
    height: 98%;
    width: 90%;
    object-fit: fill;
    position: absolute;
    top: 8%;

    z-index: 999;
    /* left: 50%; */
  }
  .stricker {
    display: flex;
    /* height: fit-content; */

    flex-direction: column;
    /* justify-content: right; */
    align-items: end;
    position: absolute;
    /* right: 0px; */
    right: 0;
    /* bottom: 5%; */
    /* padding: 20px; */
    width: 60%;
    /* margin-right: 1rem; */
    margin-right: 0.5rem;
    /* margin-top: 1rem; */
  }
  .text {
    background-color: #838383;
    color: white;
    /* padding: rem; */
    border-radius: 2rem;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */

    align-items: center;
    width: 30%;
  }
  .arrow {
    /* margin-right: 20px; */
    font-size: 1rem;
    text-align: left;
  }
  .text span {
    font-size: 1rem;
    font-weight: 300;
  }
  .lorem {
    font-weight: 400;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 80%;

    /* padding: 0 3rem; */
    font-family: sans-serif;
    text-align: right;
    /* margin-right: 0.8rem; */
    /* letter-spacing: -1px; */
  }
  .ipsum {
    font-weight: 100;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-family: sans-serif;
    width: 70%;

    opacity: 0.8;
    text-align: right;
    margin-top: 0.8rem;
  }

  .wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .section1 {
    display: flex;
    align-items: center;
    /* flex-direction: row; */

    flex-direction: column;
  }
  .section1 h1 {
   font-size: 4.8rem;
    margin-top: 1rem;
    font-family: "Alegreya";
    color: #122f65;
  }
  .section1 p {
    font-size: 4vw;
    /* width: 90%; */
    /* padding: 0 2.5rem; */
    font-weight: 700;
    color: #222224ac;
    text-align: center;
  }
  .divider {
    height: auto;
    width: 100%;
    /* margin-top: 2rem; */
    margin-top: 0;
    display: flex;
    gap: 4rem;
    padding: 1rem 2rem;
    color: #838383;
  }
  .left {
    width: 50%;
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .right {
    width: 50%;
    /* height: 100%; */
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .number {
    position: absolute;
    /* left:50%; */
    left:50%;
    transform: translateX(-50%);
    /* left: 10%; */
    /* top: 0%; */

    top: 50%;
    /* top: 50%; */
    color: #838383;
    opacity: 0.2;
    user-select: none;
  }
  .number h1 {
    font-size:28rem;
  }

  .wrap {
    width: 100%;
    /* margin-top: 9rem; */
    margin-top: 1rem;
    height: 50vh;
    position: relative;
    background: #001a4d; /* fallback */
  }

  /* all triangles */
  .wrap div {
    position: absolute;
    width: 50%;
    height: 50%;
  }

  /* TOP */
  .t1 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, #05112c, #0e2b67);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }

  /* BOTTOM */
  .t2 {
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to top, #0e2b67, #05112c);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* LEFT */
  .t3 {
    left: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #05112c, #0e2b67);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  }

  /* RIGHT */
  .t4 {
    right: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to left, #0e2b67, #05112c);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }

  /* WHITE CROSS (center X) */
  .white {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      ),
      linear-gradient(
        -135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      );
  }
  .box {
    position: relative;
    /* height: 60vh;
    width: 100vw; */
  }
  .image {

  /* bottom: 0; */
  /* bottom: 0; */
  position: absolute;
  /* top: 0; */
    height: 100%;
    /* bottom: 60%; */
    width: 100%;
    z-index: 999;
    /* object-fit: fill; */
  }
  .mbappe {
    position: absolute;  /* height: 130%; */
    z-index: 120;
    height: 70%;
    /* transform: translateX(-50%); */
    /* top: -25%; */
    /* top: 0%;   */
    left: 50%;
    width: 80%;
    object-fit: fill;
    /* bottom: 10%; */
    /* top: 60%; */
  }
  .content {
    background-color: #00000026;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
    padding: 2.5rem 1rem;
    color: white;

    border-radius: 0.5rem;
    /* top: 90%; */
    bottom: 0%;
    font-size: 2.5vw;
    letter-spacing: 0.7rem;
  }

  .achieve {
    /* height: 100vh;
  width: 100%;
  position: relative; */
    text-align: center;
    margin-top: 3rem;
    font-size: 6vw;
    font-family: 'Alegreya';
    color: #0e2b67;
    /* position: relative; */

    /* display: flex;
 justify-content: center;
 flex-direction: column; */
  }
  .chaos {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 3rem; */
    /* gap: . rem; */
    position: relative;
    /* margin-top: .5rem; */
    /* padding: 2rem 5rem; */
    /* margin-top: 5rem; */
  }

  .leftCol {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* gap: .1rem; */
    gap: rem;
  }

  .item {
    display: flex;
    /* gap: 1.5rem; */
    align-items: center;
    gap: 1rem;

    /* justify-content: space-evenly; */
  }

  .idnum {
    font-size: 5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #122f65;
    opacity: 0.9;
    letter-spacing: .1rem;
    line-height: 1;
    font-style: oblique;
  }

  .contentText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .8rem;
    /* width: 40%; */
    /* align-items: center */
    /* ; */
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #122f65;
    font-family: "Poppins", sans-serif;
    /* margin-bottom: 3rem; */
  }

  .desc {
    font-size: 1rem;
    color: #122f65b3;
    font-weight: 400;
    width: 100%;
    line-height: 1.1rem;
  }

  .rightCol {
    width: 50%;
    height: 100%;
    display: flex;
   /* display: block; */
    justify-content: center;
    align-items: center;
   
  }

  .playerImg {
    width: 90%;
   height: auto;
    object-fit: fill;
  }

  .footer {
    height: 50vh;
    margin-top: 15rem;
    width: 100%;
    /* margin-top: 10rem; */
  
    background: linear-gradient(to top, #0b0f26, #143a7a);
    display: flex;
    /* justify-content: center; */
    padding: 2rem 0;
    flex-direction: column;
  }

  .contact h1 {
    font-size: 8vw;
    color: white;
    /* display: flex; */
    text-align: center;

    /* font-weight: 900; */
  }
  .icon {
    height: 1rem;
    /* width: 2rem; */
    display: flex;
    gap: 2rem;
    /* display: flex; */
    align-items: center;

    /* flex-direction: column; */
    margin-top: 1rem;
    justify-content: center;
  }
  .ig,
  .fb,
  .thread {
    height: 2rem;
    width: 2rem;
  }
  .message {
    /* text-align: center; */
    /* margin-top: 2rem; */
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1.5rem;
    color: white;
  }
  .message h2 {
    text-align: center;
    font-size: 5vw;
  }
  .message p {
    width: 100%;
    padding: 0 3rem;
    text-align: center;
    font-size: 3vw;
    margin-top: .5rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 15vh; */
    width: 100%;
    padding: 2rem 0;

    justify-content: center;
  }
  .card button {
    padding: 1.2rem 1.5rem;
    font-size: 1.1rem;
    color: white;
    background-color: #143774;
    border-radius: 2rem;
    border: none;
    letter-spacing: -0.01rem;
    cursor: pointer;
  }
  .dot {
    display: flex;
    /* flex-direction: ; */
    /* background-color: #fff; */

    margin-top: 1rem;
    gap: 1rem;
  }
  .dot div {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: black;
    /* font-size: .5vw; */
    padding: 1.5vw;
    /* padding: 1rem 1rem; */

    /* margin: 1rem auto; */
  }
}
@media (max-width: 480px) {
  .container {
    min-height:100svh;
    height:auto;
    /* padding: 4rem 5rem; */
    /* width: auto;
 height: auto; */
    background: linear-gradient(to top, #0b0f26, #143a7a);
    position: relative;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
  }
  .container h1 {
    height: fit-content;
    font-size: 9rem;

    font-weight: 700;
    color: white;
    /* text-align: center; */
    letter-spacing: 0.2rem;
    /* position: relative; */

    /* margin-top: 8rem; */
    /* position: absolute; */
  }
  .container .head {
    background-color: #143978;

    /* width: fit-content; */
    position: absolute;
    top: 8%;

    letter-spacing: 0.8rem;
    /* background-color: red; */
    color: white;
    font-weight: 400;
    padding: rem 0.5rem;
  }
  .image {
    height: auto;
    width: 100%;
    z-index: 999;
    position: absolute;
    /* top: 10%; */
    /* top: 1%; */
    /* position: relative; */
  }
  .img {
    height: 98%;
    width: 90%;
    object-fit: fill;
    position: absolute;
    top: 8%;

    z-index: 999;
    /* left: 50%; */
  }
  .stricker {
    display: flex;
    /* height: fit-content; */

    flex-direction: column;
    /* justify-content: right; */
    align-items: end;
    position: absolute;
    /* right: 0px; */
    right: 0;
    /* bottom: 5%; */
    /* padding: 20px; */
    width: 60%;
    /* margin-right: 1rem; */
    margin-right: 0.5rem;
    /* margin-top: 1rem; */
  }
  .text {
    background-color: #838383;
    color: white;
    /* padding: rem; */
    border-radius: 2rem;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */

    align-items: center;
    width: 40%;
  }
  .arrow {
    /* margin-right: 20px; */
    font-size: 1rem;
    text-align: left;
  }
  .text span {
    font-size: 1rem;
    font-weight: 300;
  }
  .lorem {
    font-weight: 400;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 80%;

    /* padding: 0 3rem; */
    font-family: sans-serif;
    text-align: right;
    /* margin-right: 0.8rem; */
    /* letter-spacing: -1px; */
  }
  .ipsum {
    font-weight: 100;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-family: sans-serif;
    width: 70%;

    opacity: 0.8;
    text-align: right;
    margin-top: 0.8rem;
  }

  .wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .section1 {
    display: flex;
    align-items: center;
    /* flex-direction: row; */

    flex-direction: column;
  }
  .section1 h1 {
   font-size: 4.8rem;
    margin-top: 1rem;
    font-family: "Alegreya";
    color: #122f65;
  }
  .section1 p {
    font-size: 4vw;
    /* width: 90%; */
    /* padding: 0 2.5rem; */
    font-weight: 700;
    color: #222224ac;
    text-align: center;
  }
  .divider {
    height: auto;
    width: 100%;
    /* margin-top: 2rem; */
    margin-top: 0;
    display: flex;
    gap: 4rem;
    padding: 1rem 2rem;
    color: #838383;
  }
  .left {
    width: 50%;
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .right {
    width: 50%;
    /* height: 100%; */
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .number {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    /* left: 10%; */
    /* top: 0%; */

    top: 50%;
    color: #838383;
    opacity: 0.2;
    user-select: none;
  }
  .number h1 {
    font-size:28rem;
  }

  .wrap {
    width: 100%;
    /* margin-top: 9rem; */
    margin-top: 1rem;
    height: 50vh;
    position: relative;
    background: #001a4d; /* fallback */
  }

  /* all triangles */
  .wrap div {
    position: absolute;
    width: 50%;
    height: 50%;
  }

  /* TOP */
  .t1 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, #05112c, #0e2b67);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }

  /* BOTTOM */
  .t2 {
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to top, #0e2b67, #05112c);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* LEFT */
  .t3 {
    left: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #05112c, #0e2b67);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  }

  /* RIGHT */
  .t4 {
    right: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to left, #0e2b67, #05112c);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }

  /* WHITE CROSS (center X) */
  .white {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      ),
      linear-gradient(
        -135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      );
  }
  .box {
    position: relative;
    /* height: 60vh;
    width: 100vw; */
  }
  .image {

  /* bottom: 0; */
  /* bottom: 0; */
  position: absolute;
  /* top: 0; */
    height: 100%;
    /* bottom: 60%; */
    width: 100%;
    z-index: 999;
    /* object-fit: fill; */
  }
  .mbappe {
    position: absolute;  /* height: 130%; */
    z-index: 120;
    height: 70%;
    /* transform: translateX(-50%); */
    /* top: -25%; */
    /* top: 0%;   */
    left: 50%;
    width: 80%;
    object-fit: fill;
    /* bottom: 10%; */
    /* top: 60%; */
  }
  .content {
    background-color: #00000026;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
    padding: 2.5rem 1rem;
    color: white;

    border-radius: 0.5rem;
    /* top: 90%; */
    bottom: 0%;
    font-size: 2.5vw;
    letter-spacing: 0.7rem;
  }

  .achieve {
    /* height: 100vh;
  width: 100%;
  position: relative; */
    text-align: center;
    margin-top: 3rem;
    font-size: 6vw;
    font-family: 'Alegreya';
    color: #0e2b67;
    /* position: relative; */

    /* display: flex;
 justify-content: center;
 flex-direction: column; */
  }
  .chaos {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 3rem; */
    /* gap: . rem; */
    position: relative;
    margin-top: 3rem;
    /* padding: 2rem 5rem; */
    /* margin-top: 5rem; */
  }

  .leftCol {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* gap: .1rem; */
    gap: 0rem;
  }

  .item {
    display: flex;
    /* gap: 1.5rem; */
    align-items: center;
    gap: 1rem;

    /* justify-content: space-evenly; */
  }

  .idnum {
    font-size: 5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #122f65;
    opacity: 0.9;
    letter-spacing: .1rem;
    line-height: 1;
    font-style: oblique;
  }

  .contentText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .8rem;
    /* width: 40%; */
    /* align-items: center */
    /* ; */
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #122f65;
    font-family: "Poppins", sans-serif;
    /* margin-bottom: 3rem; */
  }

  .desc {
    font-size: 1rem;
    color: #122f65b3;
    font-weight: 400;
    width: 100%;
    line-height: 1.1rem;
  }

  .rightCol {
    width: 50%;
    height: 100%;
    /* display: flex; */
   /* display: block; */
    /* justify-content: start; */
    /* align-items: center; */
    align-items: normal;
  }

  .playerImg {
    width: 90%;
   height: auto;
    object-fit: fill;
  }

  .footer {
    height: 50vh;
    margin-top: 18rem;
    width: 100%;
    /* margin-top: 10rem; */
  
    background: linear-gradient(to top, #0b0f26, #143a7a);
    display: flex;
    /* justify-content: center; */
    padding: 2rem 0;
    flex-direction: column;
  }

  .contact h1 {
    font-size: 8vw;
    color: white;
    /* display: flex; */
    text-align: center;

    /* font-weight: 900; */
  }
  .icon {
    height: 1rem;
    /* width: 2rem; */
    display: flex;
    gap: 2rem;
    /* display: flex; */
    align-items: center;

    /* flex-direction: column; */
    margin-top: 1rem;
    justify-content: center;
  }
  .ig,
  .fb,
  .thread {
    height: 2rem;
    width: 2rem;
  }
  .message {
    /* text-align: center; */
    /* margin-top: 2rem; */
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1.5rem;
    color: white;
  }
  .message h2 {
    text-align: center;
    font-size: 5vw;
  }
  .message p {
    width: 100%;
    padding: 0 3rem;
    text-align: center;
    font-size: 3vw;
    margin-top: .5rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 15vh; */
    width: 100%;
    padding: 2rem 0;

    justify-content: center;
  }
  .card button {
    padding: 1.2rem 1.5rem;
    font-size: 3vw;
    color: white;
    background-color: #143774;
    border-radius: 2rem;
    border: none;
    letter-spacing: -0.01rem;
    cursor: pointer;
  }
  .dot {
    display: flex;
    /* flex-direction: ; */
    /* background-color: #fff; */

    margin-top: 1rem;
    gap: 1rem;
  }
  .dot div {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: black;
    /* font-size: .5vw; */
    padding: 1.5vw;
    /* padding: 1rem 1rem; */

    /* margin: 1rem auto; */
  }
}


@media (max-width: 380px) {
  .container {
     min-height:100svh;
    height:auto;
    /* padding: 4rem 5rem; */
    /* width: auto;
 height: auto; */
    background: linear-gradient(to top, #0b0f26, #143a7a);
    position: relative;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
  }
  .container h1 {
    height: fit-content;
    font-size: 7rem;

    font-weight: 700;
    color: white;
    /* text-align: center; */
    letter-spacing: 0.2rem;
    /* position: relative; */

    /* margin-top: 8rem; */
    /* position: absolute; */
  }
  .container .head {
    background-color: #143978;

    /* width: fit-content; */
    position: absolute;
    top: 7%;

    letter-spacing: 1rem;
    /* background-color: red; */
    color: white;
    font-weight: 400;
    padding: rem 0.5rem;
  }
  .image {
    height: auto;
    width: 100%;
    z-index: 999;
    position: absolute;
    /* top: 10%; */
    /* top: 1%; */
    /* position: relative; */
  }
  .img {
    height: 98%;
    width: 80%;
    object-fit: fill;
    position: absolute;
    top: 10%;

    z-index: 999;
    /* left: 50%; */
  }
  .stricker {
    display: flex;
    /* height: fit-content; */

    flex-direction: column;
    /* justify-content: right; */
    align-items: end;
    position: absolute;
    /* right: 0px; */
    right: 0;
    /* bottom: 5%; */
    /* padding: 20px; */
    width: 61%;
    /* margin-right: 1rem; */
    margin-right: 0.5rem;
    /* margin-top: 1rem; */
  }
  .text {
    background-color: #838383;
    color: white;
    /* padding: rem; */
    border-radius: 2rem;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */

    align-items: center;
    width: 50%;
  }
  .arrow {
    /* margin-right: 20px; */
    font-size: 1rem;
    text-align: left;
  }
  .text span {
    font-size: 1rem;
    font-weight: 300;
  }
  .lorem {
    font-weight: 400;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 80%;

    /* padding: 0 3rem; */
    font-family: sans-serif;
    text-align: right;
    /* margin-right: 0.8rem; */
    /* letter-spacing: -1px; */
  }
  .ipsum {
    font-weight: 100;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-family: sans-serif;
    width: 70%;

    opacity: 0.8;
    text-align: right;
    margin-top: 0.8rem;
  }

  .wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .section1 {
    display: flex;
    align-items: center;
    /* flex-direction: row; */

    flex-direction: column;
  }
  .section1 h1 {
   font-size: 4rem;
    margin-top: 1rem;
    font-family: "Alegreya";
    color: #122f65;
  }
  .section1 p {
    font-size: 4vw;
    /* width: 90%; */
    /* padding: 0 2.5rem; */
    font-weight: 700;
    color: #222224ac;
    text-align: center;
  }
  .divider {
    height: auto;
    width: 100%;
    /* margin-top: 2rem; */
    margin-top: 0;
    display: flex;
    gap: 4rem;
    padding: 1rem 2rem;
    color: #838383;
  }
  .left {
    width: 50%;
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .right {
    width: 50%;
    /* height: 100%; */
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .number {
    position: absolute;
    /* left:50%; */
    left: 0%;
    top: 10%;

    /* top: 50%; */
    color: #838383;
    opacity: 0.2;
    user-select: none;
  }
  .number h1 {
    font-size:28rem;
  }

  .wrap {
    width: 100%;
    /* margin-top: 9rem; */
    margin-top: 1rem;
    height: 50vh;
    position: relative;
    background: #001a4d; /* fallback */
  }

  /* all triangles */
  .wrap div {
    position: absolute;
    width: 50%;
    height: 50%;
  }

  /* TOP */
  .t1 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, #05112c, #0e2b67);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }

  /* BOTTOM */
  .t2 {
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to top, #0e2b67, #05112c);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* LEFT */
  .t3 {
    left: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #05112c, #0e2b67);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  }

  /* RIGHT */
  .t4 {
    right: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to left, #0e2b67, #05112c);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }

  /* WHITE CROSS (center X) */
  .white {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      ),
      linear-gradient(
        -135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      );
  }
  .box {
    position: relative;
    /* height: 60vh;
    width: 100vw; */
  }
  .image {
  position: absolute;
  /* bottom: 0; */
  bottom: 0;
    height: 100%;
    /* bottom: 60%; */
    width: 100%;
    z-index: 999;
    /* object-fit: fill; */
  }
  .mbappe {
    position: absolute;  /* height: 130%; */
    z-index: 120;
    height: 60%;
    /* transform: translateX(-50%); */
    /* top: -25%; */
    /* top: 0%;   */
    left: 50%;
    width: 80%;
    object-fit: fill;
    /* bottom: 10%; */
    /* top: 60%; */
  }
  .content {
    background-color: #00000026;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
    padding: 2.5rem 1rem;
    color: white;

    border-radius: 0.5rem;
    /* top: 90%; */
    bottom: 0%;
    font-size: 2.5vw;
    letter-spacing: 0.7rem;
  }

  .achieve {
    /* height: 100vh;
  width: 100%;
  position: relative; */
    text-align: center;
    margin-top: 3rem;
    font-size: 6vw;
    font-family: 'Alegreya';
    color: #0e2b67;
    /* position: relative; */

    /* display: flex;
 justify-content: center;
 flex-direction: column; */
  }
  .chaos {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 3rem; */
    /* gap: . rem; */
    position: relative;
    margin-top: 8rem;
    /* padding: 2rem 5rem; */
    /* margin-top: 5rem; */
  }

  .leftCol {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* gap: .1rem; */
    gap: 0rem;
  }

  .item {
    display: flex;
    /* gap: 1.5rem; */
    align-items: center;
    gap: 1rem;

    /* justify-content: space-evenly; */
  }

  .idnum {
    font-size: 5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #122f65;
    opacity: 0.9;
    letter-spacing: .1rem;
    line-height: 1;
    font-style: oblique;
  }

  .contentText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .8rem;
    /* width: 40%; */
    /* align-items: center */
    /* ; */
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #122f65;
    font-family: "Poppins", sans-serif;
    /* margin-bottom: 3rem; */
  }

  .desc {
    font-size: 1rem;
    color: #122f65b3;
    font-weight: 400;
    width: 100%;
    line-height: 1.1rem;
  }

  .rightCol {
    width: 50%;
    height: 100%;
    /* display: flex; */
   /* display: block; */
    /* justify-content: start; */
    /* align-items: center; */
    align-items: normal;
  }

  .playerImg {
    width: 90%;
   height: 100svh;
    object-fit: fill;
  }

  .footer {
    height: 45vh;
    margin-top: 22rem;
    width: 100%;
    /* margin-top: 10rem; */
  
    background: linear-gradient(to top, #0b0f26, #143a7a);
    display: flex;
    /* justify-content: center; */
    padding: 2rem 0;
    flex-direction: column;
  }

  .contact h1 {
    font-size: 8vw;
    color: white;
    /* display: flex; */
    text-align: center;

    /* font-weight: 900; */
  }
  .icon {
    height: 1rem;
    /* width: 2rem; */
    display: flex;
    gap: 2rem;
    /* display: flex; */
    align-items: center;

    /* flex-direction: column; */
    margin-top: 1rem;
    justify-content: center;
  }
  .ig,
  .fb,
  .thread {
    height: 2rem;
    width: 2rem;
  }
  .message {
    /* text-align: center; */
    /* margin-top: 2rem; */
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1.5rem;
    color: white;
  }
  .message h2 {
    text-align: center;
    font-size: 5vw;
  }
  .message p {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-top: .5rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 15vh; */
    width: 100%;
    padding: 2rem 0;

    justify-content: center;
  }
  .card button {
    padding: 1.2rem 1.5rem;
    font-size: 4vw;
    color: white;
    background-color: #143774;
    border-radius: 2rem;
    border: none;
    letter-spacing: -0.01rem;
    cursor: pointer;
  }
  .dot {
    display: flex;
    /* flex-direction: ; */
    /* background-color: #fff; */

    margin-top: 1rem;
    gap: 1rem;
  }
  .dot div {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: black;
    /* font-size: .5vw; */
    padding: 2vw;
    /* padding: 1rem 1rem; */

    /* margin: 1rem auto; */
  }
}

@media (max-width: 320px) {
  .container {
 min-height:100svh;
    height:auto;
   
  }

  .container h1 {
    font-size: 25vw;
    letter-spacing: 0.3rem;
  }
  .container .head {
    font-size: 1vw;

    /* padding: 0.2rem 0.2rem; */
    /* display: none; */
    top: 6%;

    letter-spacing: 0.6rem;
  }

  .image {
    height: 80%;
    width: 100%;
    /* object-fit: contain; */
  }
  .img {
    width: 100%;
    /* height: 100%; */
    height: 100%;
    /* object-fit: fill; */
    /* left: 50%; */
    position: absolute;
    /* top: 10%; */
    top: 8%;
    /* transform: translateX(-50%); */
  }

  .stricker {
    width: 100%;
    /* margin-top: ; */
    /* margin-top: 2rem; */
    /* bottom: 1%; */
    z-index: 999;
    /* height: fit-content; */

    /* left: 50%; */

    /* transform: translateX(-40%); */
    /* align-items: center; */
  }

  .text {
    width: 35%;
    /* display: flex; */
    /* gap: 1rem; */
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1.8rem;
  }

  .text span {
    font-size: 1rem;
  }

  .arrow {
    font-size: 1rem;
  }

  .lorem {
    width: 45%;
    font-size: 1.1rem;
    margin-right: .5rem;
    /* margin-right: 0.5rem; */
    /* text-align: end;  */
    /* margin: 0.8rem 0 0 0; */
    /* padding: 0 1rem; */
  }

  .ipsum {
    width: 45%;
    font-size: 0.9rem;
    text-align: end;
        margin-right: .5rem;
    line-height: 1.2rem;
    /* opacity: 0.8; */
  }
  /* {second section} */
  .wrapper {
    /* height: 100vh; */
    width: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
  }
  .section1 {
    display: flex;
    align-items: center;

    flex-direction: column;
  }
  .section1 h1 {
    font-size: 17vw;
    margin-top: 2rem;
    font-family: "Alegreya";
    color: #122f65;
  }
  .section1 p {
    font-size: 4vw;
    width: 88%;
    padding: 0 0.52 rem;
    color: #222224ac;
    text-align: center;
  }
  .divider {
    height: auto;
    width: 100%;
    margin-top: 1rem;
    /* justify-content: space-between; */
    display: flex;
    justify-content: space-around;
    position: relative;

    /* display: flex; */
    /* gap: 20rem; */
    /* padding: 0 4rem; */
    padding: 0rem;
    gap: 1rem;

    /* flex-direction: column; */
    color: #838383;
  }
  .left {
    width: 40%;
    height: 100%;
    /* line-height: 2rem; */
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
  }
  .right {
    width: 40%;
    height: 100%;
    line-height: 1rem;
    font-size: 1rem;
    text-align: right;
  }
  .number {
    position: absolute;

    /* left:50%; */
    /* left: 5%; */

    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #838383;
    opacity: 0.2;
    user-select: none;
  }
  .number h1 {
    font-size: 50vw;
  }

  .wrap {
    width: 100%;
    /* margin-top: 9rem; */
    margin-top: 1rem;
    height: 50vh;
    position: relative;
    background: #001a4d; /* fallback */
  }

  /* all triangles */
  .wrap div {
    position: absolute;
    width: 50%;
    height: 50%;
  }

  /* TOP */
  .t1 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, #05112c, #0e2b67);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }

  /* BOTTOM */
  .t2 {
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to top, #0e2b67, #05112c);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* LEFT */
  .t3 {
    left: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #05112c, #0e2b67);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  }

  /* RIGHT */
  .t4 {
    right: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to left, #0e2b67, #05112c);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }

  /* WHITE CROSS (center X) */
  .white {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      ),
      linear-gradient(
        -135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      );
  }
  .box {
    position: relative;
    /* height: 60vh;
    width: 100vw; */
  }
  .image {
    /* position: relative; */
    position: absolute;
    height: 100%;
    /* top: 40%; */

    /* top: 20%; */
    /* top: 0; */

    /* bottom: 60%; */
    width: 100%;
    z-index: 999;
    object-fit: contain;
  }
  .mbappe {
    /* position: absolute; */
    height: 70%;
    position: absolute;
    /* top: 10%; */
    bottom: 0%;
    z-index: 120;
    /* bottom: 50%; */
    /* transform: translateX(-50%); */
    /* transform: 0; */

    /* top: -25%; */
    /* top: 0%;   */
    left: 50%;
    width: 100%;
    object-fit: fill;
    /* bottom: 0; */

    /* top: 60%; */
  }
  .content {
    background-color: #00000026;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 3rem 1rem;
    color: white;

    border-radius: 0.5rem;
    top: 90%;
    bottom: 0%;
    font-size: 3vw;
    letter-spacing: 0.7rem;
  }

  .achieve {
    /* height: 100vh;
  width: 100%;
  position: relative; */
    text-align: center;
    /* margin-top: 5rem; */
    margin-top: 5rem;
    font-size: 7vw;
    font-family: monospace;
    /* position: relative; */
    position: relative;

    /* display: flex;
 justify-content: center;
 flex-direction: column; */
  }
  .chaos {
    width: 100%;
    height: 95vh;
    /* margin-top: 30rem; */
    margin-top: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    /* top: ; */
    /* padding: 2rem 5rem; */
    /* margin-top: 5rem; */
  }

  .leftCol {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* margin-top: 17rem; */
  }

  .item {
    display: flex;
    gap: 1.1rem;
    align-items: center;
    /* gap: 2rem; */

    /* justify-content: space-evenly; */
  }

  .idnum {
    font-size: 2.5rem;
    padding: 0 0.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #122f65;
    opacity: 0.9;
    /* line-height: .5rem; */
    font-style: oblique;
  }

  .contentText {
    display: flex;

    /* flex-direction: column; */
    flex-direction: column;
    /* align-items: center; */

    gap:rem;
    margin-top: 0rem;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 0; */
    /* width: 40%; */
    /* align-items: center */
    /* ; */
  }

  .title {
    font-size: 1.9rem;
    font-weight: 700;
    color: #122f65;
    font-family: "Poppins", sans-serif;
    /* margin-bottom: 3rem; */
  }

  .desc {
    font-size: 0.9rem;
    color: #122f65b3;
    font-weight: 400;

    width: 100%;
    line-height: 1.4rem;
  }

  .rightCol {
    width: 50%;
    height: 100svh;
    /* margin-top: 0; */
    position: relative;

    /* display: flex; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-items: start; */
    /* object-fit: fill; */
  }

  .playerImg {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 1%;
    /* margin-top: 0; */

    object-fit: fill;
  }

  .footer {
    margin-top: 34rem;
    height: 45vh;
    width: 100%;
    background: linear-gradient(to top, #0b0f26, #143a7a);
    display: flex;
    /* justify-content: center; */
    padding: 2rem 0;
    flex-direction: column;
  }

  .contact h1 {
    font-size: 12vw;
    color: white;
    /* display: flex; */
    text-align: center;

    /* font-weight: 900; */
  }
  .icon {
    height: 1rem;
    /* width: 2rem; */
    display: flex;
    gap: 2rem;
    /* display: flex; */
    align-items: center;

    /* flex-direction: column; */
    margin-top: 1rem;
    justify-content: center;
  }
  .ig,
  .fb,
  .thread {
    height: 1.5rem;
    width: 1.5rem;
  }
  .message {
    /* text-align: center; */
    /* margin-top: 2rem; */
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
    color: white;
  }
  .message h2 {
    text-align: center;
    font-size: 8vw;
  }
  .message p {
    width: 90%;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 3.5vw;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 15vh; */
    width: 100%;
    padding: 2rem 0;

    justify-content: center;
  }
  .card button {
    padding: 1.2rem 2rem;
    font-size: 4vw;
    color: white;
    background-color: #143774;
    border-radius: 2rem;
    border: none;
    letter-spacing: -0.01rem;
    cursor: pointer;
  }
  .dot {
    display: flex;
    /* flex-direction: ; */
    /* background-color: #fff; */

    margin-top: 1rem;
    gap: 1rem;
  }
  .dot div {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: black;
    /* font-size: .5vw; */
    padding: 1.5vw;
    /* padding: 1rem 1rem; */

    /* margin: 1rem auto; */
  }
}
