@media (max-width: 320px) {
  .container {
    height: 100vh;
    width: 100%;
    /* height: 100vh; */
    /* padding: 4rem 5rem; */
    /* width: auto;
 height: auto; */
    background: linear-gradient(to top, #0b0f26, #143a7a);
    position: relative;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
  }
  .container h1 {
    height: fit-content;
    font-size: 6rem;

    font-weight: 700;
    color: white;
    /* text-align: center; */
    letter-spacing: 0.2rem;
    /* position: relative; */

    /* margin-top: 8rem; */
    /* position: absolute; */
  }
  .container .head {
    background-color: #143978;

    /* width: fit-content; */
    position: absolute;
    top: 6%;

    letter-spacing: 0.5rem;
    /* background-color: red; */
    color: white;
    font-weight: 400;
    padding: rem 0.5rem;
  }
  .image {
    height: auto;
    width: 100%;
    z-index: 999;
    position: absolute;
    object-fit: fill;
    /* top: 10%; */
    /* top: 1%; */
    /* position: relative; */
  }
  .img {
    height: 100%;
    width: 90%;
    object-fit: fill;
    position: absolute;
    top: 5%;

    z-index: 999;
    /* left: 50%; */
  }
  .stricker {
    display: flex;
    /* height: fit-content; */

    flex-direction: column;
    /* justify-content: right; */
    align-items: end;
    position: absolute;
    /* right: 0px; */
    right: 0;
    /* bottom: 5%; */
    /* padding: 20px; */
    width: 61%;
    /* margin-right: 1rem; */
    margin-right: 0.5rem;
    /* margin-top: 1rem; */
  }
  .text {
    background-color: #838383;
    color: white;
    /* padding: rem; */
    border-radius: 2rem;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */

    align-items: center;
    width: 60%;
  }
  .arrow {
    /* margin-right: 20px; */
    font-size: 1rem;
    text-align: left;
  }
  .text span {
    font-size: 1rem;
    font-weight: 300;
  }
  .lorem {
    font-weight: 400;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 80%;

    /* padding: 0 3rem; */
    font-family: sans-serif;
    text-align: right;
    /* margin-right: 0.8rem; */
    /* letter-spacing: -1px; */
  }
  .ipsum {
    font-weight: 100;
    color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-family: sans-serif;
    width: 75%;

    opacity: 0.8;
    text-align: right;
    margin-top: 0.8rem;
  }

  .wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .section1 {
    display: flex;
    align-items: center;
    /* flex-direction: row; */

    flex-direction: column;
  }
  .section1 h1 {
    font-size: 3rem;
    margin-top: 1rem;
    font-family: "Alegreya";
    color: #122f65;
  }
  .section1 p {
    font-size: 3vw;
    /* width: 90%; */
    /* padding: 0 2.5rem; */
    font-weight: 700;
    color: #222224ac;
    text-align: center;
  }
  .divider {
    height: auto;
    width: 100%;
    /* margin-top: 2rem; */
    margin-top: 0;
    display: flex;
    gap: 4rem;
    padding: 1rem 2rem;
    color: #838383;
  }
  .left {
    width: 50%;
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .right {
    width: 50%;
    /* height: 100%; */
    height: auto;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .number {
    position: absolute;
    /* left:50%; */
    left: 0%;
    top: 10%;

    /* top: 50%; */
    color: #838383;
    opacity: 0.2;
    user-select: none;
  }
  .number h1 {
    font-size: 28rem;
  }

  .wrap {
    width: 100%;
    /* margin-top: 9rem; */
    margin-top: 1rem;
    height: 50vh;
    position: relative;
    background: #001a4d; /* fallback */
  }

  /* all triangles */
  .wrap div {
    position: absolute;
    width: 50%;
    height: 50%;
  }

  /* TOP */
  .t1 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, #05112c, #0e2b67);
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  }

  /* BOTTOM */
  .t2 {
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to top, #0e2b67, #05112c);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  /* LEFT */
  .t3 {
    left: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to right, #05112c, #0e2b67);
    clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  }

  /* RIGHT */
  .t4 {
    right: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to left, #0e2b67, #05112c);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }

  /* WHITE CROSS (center X) */
  .white {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(
        135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      ),
      linear-gradient(
        -135deg,
        transparent 45%,
        white 45%,
        white 55%,
        transparent 55%
      );
  }
  .box {
    position: relative;
    /* height: 60vh;
    width: 100vw; */
  }
  .image {
    position: absolute;
    /* bottom: 0; */
    bottom: 0;
    height: 80%;
    /* bottom: 60%; */
    width: 100%;
    z-index: 999;
    /* object-fit: fill; */
  }
  .mbappe {
    position: absolute; /* height: 130%; */
    z-index: 120;
    height: 62%;
    /* transform: translateX(-50%); */
    /* top: -25%; */
    /* top: 0%;   */
    left: 50%;
    width: 80%;
    object-fit: fill;
    /* bottom: 10%; */
    /* top: 60%; */
  }
  .content {
    background-color: #00000026;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
    padding: 2.5rem 1rem;
    color: white;

    border-radius: 0.5rem;
    /* top: 90%; */
    bottom: 0%;
    font-size: 2.5vw;
    letter-spacing: 0.7rem;
  }

  .achieve {
    /* height: 100vh;
  width: 100%;
  position: relative; */
    text-align: center;
    margin-top: 3rem;
    font-size: 6vw;
    font-family: "Alegreya";
    color: #0e2b67;
    /* position: relative; */

    /* display: flex;
 justify-content: center;
 flex-direction: column; */
  }
  .chaos {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 3rem; */
    /* gap: . rem; */
    position: relative;
    margin-top: 8rem;
    /* padding: 2rem 5rem; */
    /* margin-top: 5rem; */
  }

  .leftCol {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: .1rem; */
    gap: 0rem;
  }

  .item {
    display: flex;
    /* gap: 1.5rem; */
    align-items: center;
    gap: 1rem;

    /* justify-content: space-evenly; */
  }

  .idnum {
    font-size: 5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #122f65;
    opacity: 0.9;
    letter-spacing: 0.1rem;
    line-height: 1;
    font-style: oblique;
  }

  .contentText {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
    /* width: 40%; */
    /* align-items: center */
    /* ; */
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #122f65;
    font-family: "Poppins", sans-serif;
    /* margin-bottom: 3rem; */
  }

  .desc {
    font-size: 1rem;
    color: #122f65b3;
    font-weight: 400;
    width: 100%;
    line-height: 1.1rem;
  }

  .rightCol {
    width: 50%;
    height: 100%;
    /* display: flex; */
    /* display: block; */
    /* justify-content: start; */
    /* align-items: center; */
    align-items: normal;
  }

  .playerImg {
    width: 90%;
    height: 100vh;
    object-fit: contain;
  }

  .footer {
    height: 45vh;
    margin-top: 22rem;
    width: 100%;
    /* margin-top: 10rem; */

    background: linear-gradient(to top, #0b0f26, #143a7a);
    display: flex;
    /* justify-content: center; */
    padding: 2rem 0;
    flex-direction: column;
  }

  .contact h1 {
    font-size: 8vw;
    color: white;
    /* display: flex; */
    text-align: center;

    /* font-weight: 900; */
  }
  .icon {
    height: 1rem;
    /* width: 2rem; */
    display: flex;
    gap: 2rem;
    /* display: flex; */
    align-items: center;

    /* flex-direction: column; */
    margin-top: 1rem;
    justify-content: center;
  }
  .ig,
  .fb,
  .thread {
    height: 2rem;
    width: 2rem;
  }
  .message {
    /* text-align: center; */
    /* margin-top: 2rem; */
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1.5rem;
    color: white;
  }
  .message h2 {
    text-align: center;
    font-size: 5vw;
  }
  .message p {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-top: 0.5rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 15vh; */
    width: 100%;
    padding: 2rem 0;

    justify-content: center;
  }
  .card button {
    padding: 1.2rem 1.5rem;
    font-size: 4vw;
    color: white;
    background-color: #143774;
    border-radius: 2rem;
    border: none;
    letter-spacing: -0.01rem;
    cursor: pointer;
  }
  .dot {
    display: flex;
    /* flex-direction: ; */
    /* background-color: #fff; */

    margin-top: 1rem;
    gap: 1rem;
  }
  .dot div {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: black;
    /* font-size: .5vw; */
    padding: 2vw;
    /* padding: 1rem 1rem; */

    /* margin: 1rem auto; */
  }
}
